

.header-bg {
  background-color: var(--cor12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto; /* centralizando o posicionamento no grid */
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu a {
  padding: 16px 0px;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0; /*porcentagem em relação ao espaço do elemento pai */
  background-color: var(--cor0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.menu a:hover:after { /*pq n dois pontos depois do after? n seria o hover por último?  */
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    gap: 20px;
  }

  .menu a {
    background-color: var(--cor11);
    padding: 16px;
    border-radius: 4px;
  }

  .menu a:hover {
    background-color: var(--cor10);
  }

  .menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    gap: 12px;
  }
}