
.parceiros {
  padding-top: 60px;
}

.container > h2 {
  padding-bottom: 60px;
  width: max-content;
}

.parceiros ul {
  max-width: 1400px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  padding: 32px;
  display: flex;
  border: 2px solid var(--cor2);
}

.parceiros li:first-child, li:nth-child(5) {
  border-left: none;
}

.parceiros li:first-child, li:nth-child(2), li:nth-child(3), li:nth-child(4) {
  border-top: none;
}

.parceiros li:nth-child(4) {
  border-right: none;
}

.parceiros li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8) {
  border-bottom: none;
}

.parceiros li:last-child {
  border-right: none;
}

.parceiros img {
  margin: auto;
}

@media (max-width: 900px) {
 .container h2 {
   padding-bottom: 20px;
 }
}

@media (max-width: 600px) {
  .parceiros {
    padding-top: 20px;
  }

  .parceiros ul {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }

  .parceiros li:nth-child(even) {
    border-right: none;
  }
}